// Charte graphique

$bg-primary: #faf3e9;
$bg-secondary: #282c34;

$font-primary: #3e3d3d;
$font-secondary: #252525;

$white: #ffffff;
$color-active: #d92950;

// ------------------------- //

@import url("font.css");
@import "libs/mixins.scss";

// ------------------------- //

/* UNIVERSEL */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  font-family: "Poppins";
  font-size: 18px;
}

/* FLEX */
.flex {
  display: flex;
}
.flex-justify-center {
  display: flex;
  justify-content: center;
}
.flex-align-center {
  display: flex;
  align-items: center;
}
.flex-justify-space-between {
  display: flex;
  justify-content: space-between;
}
.flex-justify-end {
  display: flex;
  justify-content: flex-end;
}
.flex-column {
  display: flex;
  flex-direction: column;
}

.text-center {
  text-align: center;
}

/* PADDING */
.pad-24 {
  padding: 24px 0;
}
.pad-tb-72 {
  padding-top: 72px;
  padding-bottom: 72px;
}
.pad-lr-72 {
  padding-left: 72px;
  padding-right: 72px;
}

/* GAP */
.gap-12 {
  gap: 12px;
}
.gap-24 {
  gap: 24px;
}
.gap-36 {
  gap: 36px;
}
.gap-48 {
  gap: 48px;
}
.gap-72 {
  gap: 72px;
}

/* DECORATION */
li {
  list-style: none;
}

a {
  text-decoration: none;
  color: $font-primary;
  @include font-weight(700, 27);

  @include hover-effect($color-active);
}
.link-active {
  color: $color-active;

  &:hover {
    color: rgba($color: $color-active, $alpha: 0.8);
  }
}

/* TEXT */
h1 {
  font-size: 36px;
  @include font-weight(700, 54);
}
h3 {
  font-size: 18px;
  @include font-weight(700, 30);
}
p {
  @include font-weight(400, 27);
}

/* BUTTON */
.btn-primary {
  border: none;
  border-radius: 9px;
  padding: 12px 24px;
  background-color: $color-active;
  border: 1px solid $color-active;
  color: $white;
  font-size: 18px;
  @include font-weight(700, 27);
  cursor: pointer;
  transition: all ease-in-out 0.3s;

  &:hover {
    background-color: transparent;
    color: $color-active;
    border: 1px solid $color-active;
  }
}
.btn-secondary {
  border: 1px solid $color-active;
  border-radius: 9px;
  padding: 12px 24px;
  background-color: $color-active;
  color: $white;
  font-size: 18px;
  @include font-weight(700, 27);
  cursor: pointer;
  transition: all ease-in-out 0.3s;

  &:hover {
    background-color: rgba($color: transparent, $alpha: 0.2);
    color: rgba($color: $white, $alpha: 1);
    border: 1px solid $white;
  }
}

/* HEADER */
.header__logo {
  width: 116px;
  height: 36px;
}

/* MAIN */

/* HERO SECTION */
.hero-section {
  background-color: $white;
  color: $font-primary;

  p {
    color: $font-secondary;
  }
}
.hero-section__img {
  width: 564px;
  height: 376px;
}

/* OPTION SECTION */
.option-section {
  background-color: $bg-primary;
  color: $font-primary;
}
.option-section__card {
  width: 325px;
  border: 1px solid #252525;
  border-radius: 9px;
  padding: 24px 12px;
  transition: all ease-in-out 0.3s;

  h3 {
    font-size: 20px;
  }

  &:hover {
    background-color: $color-active;
    color: $white;
  }
}

/* EDITOR OPTION */
.editor-section {
  background-color: $bg-secondary;
  color: $white;
}
.editor-section__img {
  width: 561px;
  height: 296px;
}

/* LEARN SECTION */
.learn-section {
  color: $font-primary;
}
.learn-section__card {
  width: 100%;
  height: 100%;
  border: none;
  border-radius: 9px;
  padding: 48px 24px;
  background-color: $bg-primary;
}

/* CONTACT SECTION */
.contact-section {
  background-color: $bg-primary;
  color: $font-primary;
}
.contact-section input {
  width: 35vw;
  height: 60px;
  border-radius: 9px;
  border: 1px solid $font-primary;
  background-color: transparent;
  padding: 12px;
}
.contact-section textarea {
  width: 100%;
  height: 167px;
  border-radius: 9px;
  border: 1px solid $font-primary;
  background-color: transparent;
  padding: 12px;
  resize: none;
}

/* FOOTER */
.footer__logo {
  width: 116px;
  height: 36px;
}
.footer__content {
  p {
    @include font-weight(700, 27);

    span {
      @include font-weight(600, 27);
    }
  }
}

/*  COURS */

/* HERO OPTION */
.cours__hero-section {
  background-color: $bg-primary;
  color: $font-primary;

  h2 {
    font-size: 36px;
  }
}
.cours__hero-section__img {
  width: 561px;
  height: 296px;
}

/* LEARN SECTION */
.learn-section {
  color: $font-primary;
}
.learn-section__cards-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 48px;
}
.learn-section__card {
  width: 100%;
  height: 100%;
  border: none;
  border-radius: 9px;
  padding: 48px 24px;
  background-color: $bg-primary;
}

.menu-burger {
  display: none;
}
