// Charte graphique

$bg-primary: #faf3e9;
$bg-secondary: #282c34;

$font-primary: #3e3d3d;
$font-secondary: #252525;

$white: #ffffff;
$color-active: #d92950;

// ------------------------- //

@import url("font.css");
@import "libs/mixins.scss";

// ------------------------- //

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-family: "Poppins";
  font-size: 18px;
}

/* FLEX */

.flex {
  display: flex;
}

.flex-justify-center {
  display: flex;
  justify-content: center;
}

.flex-align-center {
  display: flex;
  align-items: center;
}

.flex-justify-space-between {
  display: flex;
  justify-content: space-between;
}

.flex-justify-end {
  display: flex;
  justify-content: flex-end;
}

.flex-column {
  display: flex;
  flex-direction: column;
}

/* PADDING */

.pad-12 {
  padding: 12px;
}
.pad-24 {
  padding-top: 24px;
  padding-bottom: 24px;
}
.pad-36 {
  padding: 36px;
}
.pad-48 {
  padding: 48px;
}
.pad-60 {
  padding: 60px;
}

.pad-tb-72 {
  padding-top: 72px;
  padding-bottom: 72px;
}
.pad-lr-72 {
  padding-left: 72px;
  padding-right: 72px;
}

/* GAP */

.gap-12 {
  gap: 12px;
}
.gap-24 {
  gap: 24px;
}
.gap-36 {
  gap: 36px;
}
.gap-48 {
  gap: 48px;
}
.gap-60 {
  gap: 60px;
}
.gap-72 {
  gap: 72px;
}

/* DECORATION */

li {
  list-style: none;
}

a {
  text-decoration: none;
  color: $font-primary;
  @include font-weight(700, 27);

  @include hover-effect($color-active);
}

.text-center {
  text-align: center;
}

/* TEXTE */

h1 {
  font-size: 36px;
  @include font-weight(700, 54);
}

h3 {
  font-size: 18px;
  @include font-weight(700, 30);
}

p {
  @include font-weight(400, 27);
}

/* AUTRES */

.max-width-full {
  max-width: 100%;
}

/* BUTTON */

.btn-primary {
  border: none;
  border-radius: 9px;

  padding: 12px 24px;

  background-color: $color-active;

  color: $white;
  font-size: 18px;
  @include font-weight(700, 27);

  cursor: pointer;

  &:hover {
    background-color: $white;
    color: $color-active;
    border: 1px solid $bg-secondary;
  }
}

/* HEADER */

.header__logo {
  width: 116px;
  height: 36px;
}

/* MAIN */

/* HERO SECTION */

.hero-section {
  background-color: $white;
  color: $font-primary;

  p {
    color: $font-secondary;
  }
}

.hero-section__img {
  width: 564px;
  height: 376px;
}

/* OPTION SECTION */

.option-section {
  background-color: $bg-primary;
  color: $font-primary;
}

.option-section__card {
  width: 325px;
  border: 1px solid #252525;
  border-radius: 9px;
  padding: 24px 12px;

  h3 {
    font-size: 20px;
  }
}

/* EDITOR OPTION */

.editor-section {
  background-color: $bg-secondary;
  color: $white;
}

.editor-section__img {
  width: 561px;
  height: 296px;
}

/* LEARN SECTION */

.learn-section {
  color: $font-primary;
}

.learn-section__card {
  width: 100%;
  height: 100%;
  border: none;
  border-radius: 9px;
  padding: 48px 24px;
  background-color: $bg-primary;
}

/* CONTACT SECTION */

.contact-section {
  background-color: $bg-primary;
  color: $font-primary;
}

input {
  width: 477px;
  height: 57px;
  border-radius: 9px;
  border: 1px solid $font-primary;
  background-color: transparent;
}

textarea {
  width: 100%;
  height: 167px;
  border-radius: 9px;
  border: 1px solid $font-primary;
  background-color: transparent;
}

/* FOOTER */

.footer__logo {
  width: 116px;
  height: 36px;
}

.footer__content {
  p {
    @include font-weight(700, 27);

    span {
      @include font-weight(600, 27);
    }
  }
}

/* -------------------- */

/*  COURS */

/* HERO OPTION */

.cours__hero-section {
  background-color: $bg-primary;
  color: $font-primary;

  h2 {
    font-size: 36px;
  }
}

.cours__hero-section__img {
  width: 561px;
  height: 296px;
}

/* LEARN SECTION */

.learn-section {
  color: $font-primary;
}

.learn-section__cards-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 48px;
}

.learn-section__card {
  width: 100%;
  height: 100%;
  border: none;
  border-radius: 9px;
  padding: 48px 24px;
  background-color: $bg-primary;
}
